@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-ink-900 text-zinc-200 antialiased;
}

::-webkit-scrollbar { width: 10px; height: 10px; }
::-webkit-scrollbar-track { background: #0a0a0c; }
::-webkit-scrollbar-thumb { background: #2a2a33; border-radius: 5px; }
